button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  border-radius: 5px;
}

.like-image-hoc {
  background-color: #3498db;
  color: #fff;
}

.like-post-hoc {
  background-color: #e74c3c;
  color: #fff;
}

.like-image-render {
  background-color: #2ecc71;
  color: #fff;
}

.like-post-render {
  background-color: #f39c12;
  color: #fff;
}

button:hover {
  transform: scale(1.2);
  transition: transform 0.5s cubic-bezier(0.4, 0.5, 0.2, 1.5);
}